@media screen and (max-width: 1200px) and (min-width: 980px) {
	html body .aside {
		border-right: 0px;
	}
	.info div {
		padding-top: 20px;
	}
	ul, ol {
	  margin-top: 0;
	  margin-bottom: 10px;
	  list-style-type: none;
	}
	html body .fill {
		padding-top: 11vh;
	}
	  
}
@media screen and (max-width: 980px) {
	html body .aside {
		border-right: 0px;
	}
	.info div {
		padding-top: 20px;
	}
	ul, ol {
	  margin-top: 0;
	  margin-bottom: 10px;
	  list-style-type: none;
	}
}
@media screen and (max-width: 765px) {
	html body .title h1 {
  font-size: 4.5em;
}
	.container {
		padding: 10px;
	}
	.info div {
		padding-top: 20px;
		padding-bottom: 15px;
	}
	html body .fill {
		padding-top: 50vh;
	}
}
@media screen and (max-width: 680px) {
	html body .title p {
  font-family: Libre;
  font-size: 20px;
  visibility: hidden;
	}
}

@media screen and (max-width: 445px) {
	html body .title h1 {
  margin-top: 0px;
	}
}