@font-face {
	font-family: Nexa;
	src: url(../fonts/Nexa.ttf);
}
@font-face {
	font-family: Libre;
	src: url(../fonts/Libre-R.otf);
}
@font-face {
	font-family: Libre;
	src: url(../fonts/Libre-I.otf);
	font-style: italic;
}
@font-face {
	font-family: Libre;
	src: url(../fonts/Libre-B.otf);
	font-weight: bold;
}

$navplus: 30px;
$nav: 15px;
